

 /* Extra small devices (phones, 600px and down) */

 @media only screen and (min-width: 600px) {
    
 

  
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */

 @media only screen and (min-width: 425px) {
 
 }

 /* Medium devices (landscape tablets, 768px and up) */

 @media only screen and (max-width: 768px) {
    .jumbotron h1 {
        font-size: 25px;
    }
    .carousel-item{
        height: 290px;
    }
    .carousel img{
        height: 100%;
    }
 }

 /* Large devices (laptops/desktops, 992px and up) */

 @media only screen and (max-width: 1020px) {
    .jumbotron h1 {
        font-size: 28px;
    }
    .carousel-item{
        height: 300px;
    }
    .carousel img{
        height: 100%;
    }
   
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */

 @media only screen and (min-width: 1200px) {}